<h1>Editing room</h1>

<%= render 'form' %>

<h2>Equipments</h2>

<%= link_to 'Add equipment', new_room_room_equipment_path(@room) %> 

<p>
<%= link_to 'Show', @room %> 
<%= link_to 'Back', rooms_path %>
</p>
